body{
    margin: 0 ;
}
/**Menu**/
#menu{
    padding: 8px;
    text-align: center;
    background-color: lightskyblue;
    background-position-x: 100%;
    height: 115px;
    display: flex;
    justify-content: space-between;
    padding-left: 200px;
    padding-right: 200px;
}
#menu a{
    text-decoration: none;
    font-weight: 800;
    font-family: 'Darker Grotesque', sans-serif;
    color: rgb(65, 65, 65);
    font-size: 2em ;
    flex-direction: row;
    align-self: center;
}
/**Foto do lobo**/
h1{
    font-size: 100px;
    color: rgb(240, 240, 240);
    margin-top: -28.2%;
    text-align: center;
    font-family: 'Darker Grotesque', sans-serif; 
    font-weight: 700;
}
#linha{
    margin-top: -5%;
    height: 0.4rem;
    width: 8%;
    background-color: white;
    margin-left: 46%;
}
#letras{
    font-size: 34px;
    margin-top: 2.2%;
    margin-left: 27%;
    margin-right: 27%;
    font-weight: 400;
    line-height: 33px;
}
#fotolobo{
    background-image: url(./img3.png);
    width: 100%;
    height:72vh;
    top: 50%;
    left: 50%;
    background-size:cover ;
    background-repeat: no-repeat;
    background-position:center;
}
/**Parte azul**/
#retangulo1{
    margin-top: 130px;
    height: 22.7rem;
    width: 100%;
    background-color:rgb(51, 95, 139);
}
h2{
    font-size: 50px;
    color:rgb(199, 167, 86);
    padding: 0;
    margin: 0%;
    text-align: center;
    padding-top: 35px;   
    font-family: 'Darker Grotesque', sans-serif;
}
h3{
    font-size: 25px;
    color: white;
    text-align: center;
    padding: 5px;
    margin-left: 16%;
    margin-right: 16%;
    font-family: 'Darker Grotesque', sans-serif;
    padding-bottom: 35px;
    font-weight: 400;
}
/**Parte cinza**/
#retangulo2{
    height: 38rem;
    width: 100%;
    background-color: rgb(59, 59, 59);
    align-content: center;
}
.coluna{
    float: left;
    display: flex;
    background-color: white;
    justify-content:center;
    border-radius: 1000000px;
    width: 170px;
    height: 170px;
    
}
.row{
    padding-top: 1.5%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding-bottom: 0px;
    margin: 0 290px;
    transform: translate(-22px);
}
h4{
    font-size: 32px;
    color: white;
    margin-left: 8%;
    font-family: 'Darker Grotesque', sans-serif;
    padding-bottom: 35px;
    font-weight: 700;
    height:0px;
    width: 0px;
}
.centro{
    margin-left: -24%;
}
li figure{
    display: inline-block;
    margin-block-start: 1.3em;
    margin-block-end: 3em;
    margin-inline-start: 68px;
    margin-inline-end: 38px;
}
h5{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-left: -28%;
    margin-right: -14%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 400;
    line-height: 23px;
}
div.um{
    background-color: rgb(51, 95, 139);
    width: 450px;
    height: 330px;
    margin-top: 4%;
    margin-left: 12%;
    border: 5px solid rgb(27, 52, 77);
}
/**Parte Branca**/
div.foto1{
    background-image: url(./image\ \(1\).png);
    width: 450px;
    height: 350px;
    margin-top: -22.3%;
    margin-left: 13%;
    background-repeat: no-repeat;
    background-position: -70px;
}
div.dois{
    background-color: rgb(51, 95, 139);
    width: 450px;
    height: 330px;
    margin-top: 8%;
    margin-left: 60%;
    border: 5px solid rgb(27, 52, 77);
}
div.foto2{
    background-image: url(./image\ \(2\).png);
    width: 450px;
    height: 350px;
    margin-top: -22.3%;
    margin-left: 58%;
    background-repeat: no-repeat;
    background-position: -70px;
}
h6{
    color: black;
    font-size: 40px;
    margin-left: 48%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    margin-top: -355px;
}
.idade1{
    color: black;
    margin-bottom: 80px;
    margin-top: -90px;
    margin-left: -128px;
    font-size: 23px;
}
.idade2{
    color: black;
    margin-bottom: 80px;
    margin-top: -90px;
    margin-left: -648px;
    font-size: 23px;
}
.a{
    font-size: 25px;
    margin-left: 48%;
    margin-right: 16%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    margin-top: -4%;
    line-height: 23px;
}
.b{
    color: black;
    font-size: 40px;
    margin-left: 30%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 800;
    margin-top: -355px;
}
.c{
    font-size: 25px;
    margin-left: 14%;
    margin-right: 50%;
    font-family: 'Darker Grotesque', sans-serif;
    font-weight: 500;
    margin-top: -4%;
    line-height: 23px;
    text-align: right;
}
/**Final da página**/
.line{
    margin-top: 150px;
    height: 0.5rem;
    width: 100%;
    background-image: linear-gradient( to right,rgb(199, 167, 86), rgb(51, 95, 139) );
    align-content: center;
}
.fim{
    height: 21rem;
    width: 100%;
    background-color: rgb(59, 59, 59);
    align-content: center;
}
.mapa{
    margin-top: -18%;
    margin-left: 14%;
}
.map{
    margin-left: 39.7%;
    margin-top: -13%;
    border-radius: 50%;
    margin-bottom: 20%;
}
.endereco{
    font-size: 20px;
    margin-bottom: 20%;
    margin-top: -22%;
    margin-left: 43%;
    margin-right: 29%;
    line-height: 16px;
    color: white;
    font-weight: 400;
}
.celular{
    margin-left: 40%;
    margin-top: -18.5%;
    margin-bottom: 20%;
}
.numero{
    font-size: 20px;
    margin-bottom: 20%;
    margin-top: -21.5%;
    margin-left: 43%;
    margin-right: 29%;
    line-height: 16px;
    color: white;
    font-weight: 400;
}
.env{
    margin-left: 40%;
    margin-top: -18%;
    margin-bottom: 20%;
}
.mail{
    font-size: 20px;
    margin-bottom: 20%;
    margin-top: -21.5%;
    margin-left: 43%;
    margin-right: 29%;
    line-height: 16px;
    color: white;
    font-weight: 400;
}
.quem{
    background-color: rgb(199, 167, 86);
    float: left;
    display: flex;
    height: 3%;
    font-size: 25px;
    margin-top: -3.6%;
    margin-left: 40%;
    color: rgb(59, 59, 59);;
    margin-bottom: 0px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 3px;
}
.desen{
    margin-left: 80%;
    margin-top: -27.5%;
    font-size: 20px;
    line-height: 16px;
    color: white;
    font-weight: 400;
}
.paw{
    margin-left: 81.1%;
    margin-top: -1.5%;
}

@media only screen and (max-width: 960px){
    #menu{
        height: 115px;
        width: 140vh;
        justify-content:space-evenly;
        flex-direction: row;
        align-self: center;
        margin-left: -22%;
    }
    h1{
        font-size: 8vh;
        color: rgb(240, 240, 240);
        margin-top: -98.2%;
        font-family: 'Darker Grotesque', sans-serif; 
        font-weight: 700;
        margin-right: -20%;
    }
    #letras{
        font-size: 4vh;
        margin-top: -17.2%;
        text-align: center;
        margin-left: 20%;
        margin-right: 27%;
        font-weight: 400;
        line-height: 33px;
    }
    #linha{
        margin-top: -18%;
        height: 0.4vh;
        width: 8vh;
        background-color: white;
        margin-left: 58%;
    }
    #fotolobo{
        width: 180vh;
        height:72vh;
    }
    #retangulo1{
        width: 180vh;
        height:72vh;
    }
    #retangulo2{
        width: 180vh;
        height:92vh;
    }
    .row{
        padding-top: 1.5%;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding-bottom: 0px;
        margin: 0 110px;
        transform: translate(-22px);
    }
    .coluna{
        justify-content:center;
        border-radius: 100px;
        width: 170px;
        height: 170px;
    }
    div.foto1{
        background-image: url(./image\ \(1\).png);
        width: 450px;
        height: 350px;
        margin-top: -92.3%;
        margin-left: 13%;
        background-repeat: no-repeat;
        background-position: -70px;
    }
    div.dois{
        background-color: rgb(51, 95, 139);
        width: 450px;
        height: 330px;
        margin-top: 8%;
        margin-left: 60%;
        border: 5px solid rgb(27, 52, 77);
    }
    h6{
        color: black;
        font-size: 40px;
        margin-left: 90vh;
        margin-right: -90vh;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 800;
        margin-top: -355px;
        text-align: inherit;
    }
    .a{
        font-size: 25px;
        margin-right: -90vh;
        margin-left: 90vh;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 500;
        margin-top: -8%;
        line-height: 23px;
    }
    div.foto2{
        background-image: url(./image\ \(2\).png);
        width: 450px;
        height: 350px;
        margin-top: -92.3%;
        margin-left: 133%;
        background-repeat: no-repeat;
        background-position: -70px;
    }
    .dois{
        background-color: rgb(51, 95, 139);
        width: 450px;
        height: 330px;
        margin-top: -834%;
        margin-left: -30vh;
        border: 5px solid rgb(27, 52, 77);
    }
    .c{
        font-size: 25px;
        margin-right: -62vh;
        margin-left: 40vh;
        font-family: 'Darker Grotesque', sans-serif;
        font-weight: 500;
        margin-top: -8%;
        line-height: 23px;
    }
    .line{
        margin-top: 150px;
        height: 0.5rem;
        width: 180vh;
        background-image: linear-gradient( to right,rgb(199, 167, 86), rgb(51, 95, 139) );
        align-content: center;
    }
    .fim{
        height: 21rem;
        width: 180vh;
        background-color: rgb(59, 59, 59);
        align-content: center;
    }
    .mapa{
        margin-top: -63%;
        margin-left: 14%;
    }
    .endereco{
        margin-bottom: 20%;
        margin-top: -22%;
        margin-left: 63%;
        margin-right: 29%;
        line-height: 16px;
        color: white;
        font-weight: 400;
    }
    .celular{
        margin-left: 40%;
        margin-top: -88.5%;
        margin-bottom: 20%;
    }
    .numero{
        font-size: 20px;
        margin-bottom: 20%;
        margin-top: -21.5%;
        margin-left: 43%;
        margin-right: 29%;
        line-height: 16px;
        color: white;
        font-weight: 400;
    }
    .env{
        margin-left: 40%;
        margin-top: -18%;
        margin-bottom: 20%;
    }
    .mail{
        font-size: 20px;
        margin-bottom: 20%;
        margin-top: -61.5%;
        margin-left: 43%;
        margin-right: 99%;
        line-height: 16px;
        color: white;
        font-weight: 400;
    }
    .paw{
        margin-left: 215.1%;
        margin-top: 5.5%;
    }
    

}
